## Assignment 3 for HW 2
#### Author Sofiya Elyukin

##### Used Sebastian's notebook to put this together

In [7]:
from __future__ import print_function
import os
import pandas as pd
import pylab as pl
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [9]:
# Get environmental variable
DFDATA = os.getenv('DFDATA')
print (DFDATA)

/gws/open/NYCOpenData/nycopendata/data

In [17]:
# Get data from CUSP data facility as CSV file and preview. Data is New York City Council Discretionary Funding (2009-2013)
df = pd.read_csv(DFDATA + '/m3fi-rt3k/1414246152/m3fi-rt3k')
df.head(10)

,Fiscal Year,Source,Council Member,Legal Name,EIN,Status,Amount,Agency,Program Name,Street Address 1,Street Address 2,Zip Code,Purpose of Funds,Fiscal Conduit Name,FC EIN,Location 1
0,2009,Local,Oddo,122nd Police Precinct,13-6400434,Cleared,$55000.00,NYPD,NaN,2320 Hylan Boulevard,NaN,10306,To purchase an undercover surveillance van.,NaN,NaN,"2320 Hylan Boulevard\nStaten Island, NY 10306\..."
1,2009,Local,Fidler,A. Genovesi Environmental Center,13-6400434,Cleared,$45000.00,DOE,NaN,7151 Avenue T,NaN,11234,Funds will support Environmental Center and Ec...,Community District 22/Region 6,13-6499434,"7151 Avenue T\nBrooklyn, NY 11234\n(40.6215933..."
2,2009,Local,Recchia,A. Genovesi Environmental Center,13-6400434,Cleared,$25000.00,DOE,NaN,7151 Avenue T,NaN,11234,Funds will provide support for Environmental C...,Community District 22/Region 6,13-6499434,"7151 Avenue T\nBrooklyn, NY 11234\n(40.6215933..."
3,2009,Aging,Dickens,A. Philip Randolph Houses Tenant Association,13-6400434,Cleared,$3500.00,DFTA,NaN,253 West 114th Street,NaN,10026,Increased senior-based services for residents ...,NaN,NaN,"253 West 114th Street\nNew York, NY 10026\n(40..."
4,2009,Local,James,Acorn Community High School,69-0210637,Cleared,$5000.00,DOE,NaN,561 Grand Avenue,NaN,11238,To infuse technology as a way of teaching stud...,NaN,NaN,"561 Grand Avenue\nBrooklyn, NY 11238\n(40.6785..."
5,2009,Local,Yassky,Automotive High School,13-6400434,Cleared,$10000.00,DOE,Automotive Trades HS (610),50 Bedford Avenue,NaN,11222,To provide funding for after-school programs.,NaN,NaN,"50 Bedford Avenue\nBrooklyn, NY 11222\n(40.723..."
6,2009,Local,CC,Baruch College/Research Foundation,23-7039817,Cleared,$90000.00,CUNY,NaN,1 Bernard Baruch Way,NaN,10010,to enhance the ability of Baruch College to pr...,NaN,NaN,"1 Bernard Baruch Way\nNew York, NY 10010\n(40...."
7,2009,Youth,"Addabbo, Jr",Beach Channel High School,13-6400434,Cleared,$3500.00,DYCD,Crew Team,100-00 Beach Channel Drive,NaN,11694,To support local high school crew team.,"Graybeards, Ltd.",11-3635931,"100-00 Beach Channel Drive\nRockaway Park, NY ..."
8,2009,Black Male Empowerment Initiative,NaN,Black Male Empowerment Initiative,13-6400434,Cleared,$2500000.00,CUNY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2009,Local,CC,Borough of Manhattan Community College,13-3224400,Cleared,$225000.00,CUNY,NaN,199 Chambers Street,NaN,10007,tribeca film festival,NaN,NaN,"199 Chambers Street\nNew York, NY 10007\n(40.7..."

In [20]:
# Test dropping columns and removing NaN values
test = df[[6, 8, 11]].dropna()
test.head(4)

      Amount                                       Program Name  Zip Code
5   $10000.00                         Automotive Trades HS (610)     11222
7    $3500.00                                          Crew Team     11694
36  $10000.00                               Borough as Classroom     11210
62   $5000.00  Center for Law and Social Justice, Medgar Ever...     11225

In [21]:
# Keep only two numerical columns and drop NaN
data = df[[6, 11]].dropna()
data.head(4)

     Amount  Zip Code
0  $55000.00     10306
1  $45000.00     11234
2  $25000.00     11234
3   $3500.00     10026