# Assignment Two from HW 3
## Author: Sofiya Elyukin
### Code taken from the Ctibikes_gender python notebook in the PUI2016 repository. The null hypothesis was  developed through a group discussion with Ben Alpert, Sebastian Bana, Jonathan Geis, Fernando Melchor, and Scott Smith.

### Research Idea:
    People using CitiBike during "rush hours" (specific time to be defined based on MTAinfo: 
    http://web.mta.info/nyct/subway/howto_sub.htm) are commuters, and therefore there would more commuters using  CitiBike on
    weekdays than weekends.

### Null Hypothesis:
    The quantity of CitiBike rides during weekday rush hours as a ratio of total rides for that day will be equal to or
    significantly less than the same ratio on Saturday or Sunday. I will use a significance level of Î± = 0.05, which means I
    want the probability of getting a result at least as significant as mine to be less then 5%.

### Alternative Hypothesis:
    The quantity of CitiBike rides during weekday rush hours as a ratio of total rides for that day will be greater than the
    same ratio on Saturday or Sunday.

In [15]:
from __future__  import print_function, division
import pylab as pl
import pandas as pd
import numpy as np
import os
os.getenv('PUI2016')

'/home/cusp/se1296/PUI2016'

In [16]:
df = pd.read_csv(os.getenv("PUI2016") +"_se1296" + "/201604-citibike-tripdata.csv")
df.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,496,4/1/2016 00:00:26,4/1/2016 00:08:42,254,W 11 St & 6 Ave,40.735324,-73.998004,236,St Marks Pl & 2 Ave,40.728419,-73.987140,19704,Subscriber,1984.0,1
1,104,4/1/2016 00:00:27,4/1/2016 00:02:12,311,Norfolk St & Broome St,40.717227,-73.988021,350,Clinton St & Grand St,40.715595,-73.987030,21555,Subscriber,1970.0,1
2,128,4/1/2016 00:00:30,4/1/2016 00:02:38,3064,Myrtle Ave & Lewis Ave,40.696820,-73.937569,3059,Pulaski St & Marcus Garvey Blvd,40.693398,-73.939877,17430,Subscriber,1986.0,1
3,1197,4/1/2016 00:00:34,4/1/2016 00:20:31,3156,E 72 St & York Ave,40.766638,-73.953483,490,8 Ave & W 33 St,40.751551,-73.993934,17413,Subscriber,1981.0,1
4,419,4/1/2016 00:00:46,4/1/2016 00:07:46,116,W 17 St & 8 Ave,40.741776,-74.001497,405,Washington St & Gansevoort St,40.739323,-74.008119,16714,Subscriber,1982.0,2